.overlay{
    top: 45px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* transform: translate(-50%, -50%); */
    height: 90%;
    width: 80%;
}

.pop-tab{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    column-gap: 90%;
}