.overlay{
    top: 20px;
    background-color: #d3ffe2;
    position: fixed;
    /* transform: translate(-50%, -50%); */
    height: 92%;
    width: 75%;
    
}

.pop-tab{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    column-gap: 96%;
}

.popup-input{
    height: 90vh;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 8px;
    background-color: #f4faf6;
    /* background: radial-gradient(50% 50% at 50% 50%, rgb(159.66, 208.25, 164.34) 0%, rgba(172, 255, 180, 0) 100%); */
    box-shadow: 0 2px 8px 0 rgba(22, 36, 36, 0.79);
}
